aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
asgiref==3.6.0
async-timeout==4.0.2
attrs==20.3.0
auto-py-to-exe==2.35.0
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
clang==16.0.1.1
click==8.1.3
colorama==0.4.6
cycler==0.11.0
distlib==0.3.6
django-extensions==3.2.1
Eel==0.16.0
filelock==3.9.0
Flask==2.3.2
Flask-WTF==1.1.1
fonttools==4.39.4
frozenlist==1.3.3
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
itsdangerous==2.1.2
jellyfish==0.11.2
Jinja2==3.1.2
kiwisolver==1.4.4
lib50==3.0.6
MarkupSafe==2.1.2
matplotlib==3.7.1
multidict==6.0.4
networkx==3.1
npm==0.1.1
numpy==1.24.3
openai==0.27.5
opencv-python==4.7.0.72
optional-django==0.1.0
packaging==23.1
pefile==2023.2.7
pexpect==4.8.0
Pillow==9.4.0
pipenv==2023.2.18
platformdirs==3.1.0
ply==3.11
ptyprocess==0.7.0
pycparser==2.21
pygame==2.4.0
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
pytesseract==0.3.10
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.29.0
six==1.16.0
submit50==3.1.1
termcolor==1.1.0
tqdm==4.65.0
tzdata==2022.7
urllib3==1.26.15
virtualenv==20.20.0
virtualenv-clone==0.5.7
Werkzeug==2.3.4
whichcraft==0.6.1
WTForms==3.0.1
yarl==1.9.2
zope.event==4.6
zope.interface==6.0
