{% extends 'base.html' %}

{% block title%}
   - Tree Generation
{%endblock%}

{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.1/math.min.js"></script>

<div class="container">

    <div class="row justify-content-center align-items-center align-self-center">

        <div class="contact-section" style="margin-top: 2rem;border-radius: 7px;">
            <div class="inner-width">
                <h1>Expression Tree Generator</h1>
                <div class="inner-input-container" style="text-align: left;">
                    <span>Current Expression:</span>
                    <input type="text" class="name" id='expression-input' placeholder="e.g (x + y)*z - (t / w)">
                </div>
    
                <div class="buttons">
                    <button id="generate-tree">Generate</button>
                </div>
    
            </div>
        </div>
    
        <div id="canvas-container" style="margin-bottom: 3rem;">
            <canvas></canvas>
        </div>


    </div>
</div>
<script src="{{url_for('static', filename='js/infixToPostfix.js')}}"></script>
<script src="{{url_for('static', filename='js/tree.js')}}"></script>
<script src="{{url_for('static', filename='js/canvas.js')}}"></script>


{%endblock%}

