<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lexer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Navbar-Centered-Brand-icons.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}">

</head>

<body>
    {% block main %}

    {% endblock %}

    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bs-init.js')}}"></script>
</body>
</html>
