{% extends 'base.html' %}

{% block main %}

<!-- NAVBAR STARTED -->
<nav class="navbar navbar-dark navbar-expand-md bg-dark py-3 mb-xxl-0 pb-xxl-1">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center me-xxl-5 mb-xxl-4 pe-xxl-0" href="/" style="padding-top: 0px;padding-right: 12px;margin-left: 0px;padding-bottom: 0px;margin-bottom: 7px;margin-right: 8px;">
            
            <img class="bounce animated pb-sm-0" src="{{ url_for('static', filename='img/logo.png')}}" width="45" height="45" loading="eager"></a>
            
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-6">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>


        <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
            </ul>
            <div class="d-md-none my-2"></div>
        </div>
        <div class="d-none d-md-block"><a class="btn btn-light me-2" role="button" href="#">Launch</a></div>
    </div>
</nav>

<!-- NAVBAR ENDED -->

<!-- HERO SECTION STARTED -->

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(33, 37, 41, 0.1), rgba(0, 123, 255, 0.1)) ,url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center / cover;height: 500px;">
            <div class="row">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h1 class="text-uppercase fw-bold mb-3">Lexer<br>Empowering Language Analysis with Lexical and Syntax</h1>
                        <p class="mb-4">Transforming Text into Understanding: Lexical Analyzer and Syntax Parser with Interactive Token Graphs.</p><button class="btn btn-light fs-5 py-2 px-4" type="button">Launch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 w-100" style="max-width: 800px;">
            <div class="col order-md-first">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4>Lexical Analysis</h4>
                        <p>Decoding the Language Matrix: Unveiling Meaning through Lexical Analysis</p>
                    </div>
                </div>
            </div>
            <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
                <div style="width: 80%;">
                    <h2>Decode the Language Puzzle</h2>
                    <p>Unleashing the Power of Lexical Analysis, Syntax Parsing, and Token Graph Generation</p>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4>Syntax Analysis</h4>
                        <p>Cracking the Code of Syntax: Unraveling the Structure of Language</p>
                    </div>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4>Graph Generation</h4>
                        <p>Visualizing Language Flow: Mapping the Web of Words with Graph Generation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HERO SECTION ENDED -->


{% endblock %}
