{% extends 'base.html' %}

{% block title%}
    - Home
{%endblock%}

{% block main %}

<!-- HERO SECTION STARTED -->

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(33, 37, 41, 0.1), rgba(0, 123, 255, 0.1)) ,url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center / cover;height: 500px;">
            <div class="row">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h1 class="text-uppercase fw-bold mb-3">Lexer<br>Empowering Language Analysis with Lexical and Syntax</h1>
                        <p class="mb-4">Transforming Text into Understanding: Lexical Analyzer and Syntax Parser with Interactive Token Trees.</p><a href="lexer" target="_blank"><button class="btn btn-light fs-5 py-2 px-4" type="button" >Launch</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 w-100" style="max-width: 800px;">
            <div class="col order-md-first">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4>Lexical Analysis</h4>
                        <p>Decoding the Language Matrix: Unveiling Meaning through Lexical Analysis</p>
                    </div>
                </div>
            </div>
            <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
                <div style="width: 80%;">
                    <h2>Decode the Language Puzzle</h2>
                    <p>Unleashing the Power of Lexical Analysis, Syntax Parsing, and Token Tree<br> Generation</p>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4>Syntax Analysis</h4>
                        <p>Cracking the Code of Syntax: Unraveling the Structure of Language</p>
                    </div>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4>Tree Generation</h4>
                        <p>Visualizing Language Flow: Mapping the Web of Words with Tree Generation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HERO SECTION ENDED -->

{% endblock %}
