{% extends 'base.html' %}

{% block main %}

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-center p-4 p-lg-5" style="margin-top: -22px;margin-bottom: -61px;">
            <p class="fw-bold text-primary mb-2">Introducing</p>
            <h1 class="fw-bold mb-4"><span style="font-weight: normal !important;">The Power of Language Matrix</span><br>LEXER</h1>
            <div class="alert alert-success" role="alert"><span><strong>For Expression Tree Generation Click Below</strong></span></div><button class="btn btn-primary" type="button" style="margin-top: 4px;margin-right: 1px;padding-left: 30px;padding-right: 30px;padding-bottom: 10px;padding-top: 10px;--bs-primary: #9adea9;--bs-primary-rgb: 154,222,169;background: rgb(209,231,221);color: rgb(15,81,50);"><strong>Tree Generation</strong></button>
        </div>
    </div>
</section>
<div class="container text-center">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 23px;">
            <h3 class="font-monospace fs-2 fw-normal text-center" data-aos="fade" data-aos-duration="400" data-aos-once="true">Enter Code Below For Lexical and Syntax Analysis</h3>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row text-center" style="padding-bottom: 0px;margin-bottom: -98px;">
        <div class="col-md-12 font-monospace d-inline-block align-self-center" style="height: 214px;margin-top: -24px;margin-bottom: 87px;"><textarea class="d-inline" style="width: 820px;height: 272px;padding-top: 10px;margin-top: 11px;border-width: 2px;border-style: solid;" placeholder="Enter Code Here."></textarea></div>
        <div class="col" style="margin-bottom: 97px;padding-bottom: 42px;padding-top: 0px;margin-top: -3px;"><input class="btn btn-primary" type="submit" data-aos="fade" style="padding-top: 0px;width: 100.05px;height: 41px;"></div>
    </div>


{%endblock%}