{% extends 'base.html' %}

{% block title%}
   - Tree Generation
{%endblock%}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <section class="justify-content-center align-items-center align-content-center align-self-center py-4 py-xl-5" style="padding-bottom: 77px;margin-bottom: -48px;">
                <div class="container">
                    <h1 class="justify-content-center align-items-center align-content-center align-self-center" style="text-align: center;">Tree Generator</h1>
                </div>
                <p class="d-xxl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xxl-center">Enter an Expression Below</p>
            </section>
        </div>
    </div>
    <div class="row justify-content-center align-items-center align-self-center">
        <div class="col-md-12 text-center justify-content-center align-items-center align-content-center align-self-center"><input type="text" style="margin-top: -1px;width: 456.8px;height: 48px;" placeholder="Expression..."></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="width: 1364px;height: 390px;"></div>
    </div>
</div>

{%endblock%}
